<!DOCTYPE html>
<html>

  <head>
    <title>Detail</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/detail.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cutive">
    <link rel="stylesheet" type="text/css" href="content.css">
  </head>
  
  <body ng-app="Detail">
    <div class="menudiv">
      <button class="logo" onclick="location.href = '/';">safe4eats</button>
      <div class="menu">
        <button onclick="location.href = 'search';">Search</button>
        <button onclick="location.href = 'ranking';">Top 10</button>
        <button onclick="location.href = 'restaurant';">Restaurants</button>
        <button onclick="location.href = 'detail';">Details</button>
      </div>
    </div>
    <div ng-controller="detailController">
      
      <div class="container" id="noyelpcontainer" style="display:none">
        <p>Sorry, we were unable to find that yelp restaurant id.</p>
      </div>
      
      <div class="container" id="yelpcontainer" style="display: none">
        <center><h1>Restaurant Details</h1></center>
        <table id="tableindex" ng-repeat="x in yelpdata">
          <tr><th style="width: 30%">Field</th><th style="width: 70%">Result</th></tr>
          <!-- <tr><td style="width: 30%">ID</td><td style="width: 70%"> {{ x.id }} </td></tr> -->
          <tr><td style="width: 30%">Name</td><td style="width: 70%"> {{ x.name }} </td></tr>
          <tr><td style="width: 30%">Neighborhood</td><td style="width: 70%"> {{ x.neighborhood }} </td></tr>
          <tr><td style="width: 30%">Address</td><td style="width: 70%"> {{ x.address }} </td></tr>
          <tr><td style="width: 30%">City</td><td style="width: 70%"> {{ x.city }} </td></tr>
          <tr><td style="width: 30%">State</td><td style="width: 70%"> {{ x.state }} </td></tr>
          <tr><td style="width: 30%">Postal code</td><td style="width: 70%"> {{ x.postal_code }} </td></tr>
          <tr><td style="width: 30%">Latitude</td><td style="width: 70%"> {{ x.latitude }} </td></tr>
          <tr><td style="width: 30%">Longitude</td><td style="width: 70%"> {{ x.longitude }} </td></tr>
          <tr><td style="width: 30%">Stars</td><td style="width: 70%"> {{ x.stars }} </td></tr>
          <tr><td style="width: 30%">Review_count</td><td style="width: 70%"> {{ x.review_count }} </td></tr>
          <tr><td style="width: 30%">Is open</td><td style="width: 70%"> {{ x.is_open }} </td></tr>
        </table>
        <br>
      </div>
      
      <div class="container" id="noinspcontainer" style="display:none">
        <p>Sorry, we could not find any inspection reports for this restaurant.</p>
      </div>
      
      <div class="container" id="inspcontainer" style="display: none">
        <center><h1>Inspection Results</h1></center>
        <table id="tableindex">
          <tr>
            <th style="width: 20%">Date</th>
            <th style="width: 20%">ID</th>
            <th style="width: 10%">Grade</th>
            <th style="width: 15%">Demerits</th>
            <th style="width: 35%">Violations</th>
          </tr>
          <tr ng-repeat="x in inspdata">
            <td style="width: 20%"> {{ dateSubstr(x.inspectiondate) }} </td>
            <td style="width: 20%"> {{ x.id }} </td>
            <td style="width: 10%"> {{ x.grade }} </td>
            <td style="width: 15%"> {{ x.demerits }} </td>
            <td style="width: 35%"> {{ vioFormat(x.violations) }} </td>
          </tr>
        </table>
        <br>
      </div>
      
      <div class="container" id="viocontainer" style="display: none">
        <center><h1>Violation History</h1></center>
        <table id="tableindex">
          <tr>
            <th style="width: 30%">Violation Code</th>
            <th style="width: 70%">Violation Description</th>
          </tr>
          </th>
          <tr ng-repeat="x in viodata">
            <td style="width: 30%"> {{ x.violation }} </td>
            <td style="width: 70%"> {{ x['Violation Description'] }} </td>
          </tr>
        </table>
        <br>
      </div>
    </div>
    

  </body>
</html>

